
/* logo colors: #00BDD4 , #F79921 */

* { padding: 0; margin: 0; }


body{
    height: 100%;
    background-image: url(media/Landing.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    font-family: 'Roboto', sans-serif;
}

.container{
    /* background: whitesmoke; */
     box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1); 
    justify-content: center;
    position: relative;
}

.row{
    /* box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2); */
}

/* NAVBAR */

.navbar{
    margin-bottom: 50px;
    display: flex;
}

.navmenu{
    /* background-image: url(media/shopping-cart\ \(1\).png); */
    height: 50px;
    width: 50px;
}

.navmenu img{
    display: block;
    margin: auto;
    margin-top: 10px;
} 

.logo{
    width: 50%;
}

/* REVOLVER */

.revolver{
    margin-bottom: 100px;
    width: 100%;
    height: 250px;
    margin: auto;
    text-align: center;
}

.mySlides{
    margin: auto; 
    text-align: center;
    width: 50%;
    font-size: 20px;
}





/* content */

/* .row{
    display: flex;
    align-content: center;
    width: auto;
} */

.card{
    /* margin-left: 35px; */
    border: none !important;
    background-color: transparent;
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.cardtitle .cardprice .cardpic {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.cardtitle .cardprice{
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    background: transparent;
}

.cardtitle{
    width: 318px;
    font-size: 30px;
}

.cardpic{
    height: 461px;
    width: 318px;
    /* background: url(media/kad_te_bajka_sastavi_a_zivot_rastavi_vv.jpeg);
} */
}
.cardpic img{
    position: relative;
    border-radius: 5px;
}

.cardpic:hover{
    height: 461px;
    width: 318px;
    /* background: url(media/kad_te_bajka_sastavi_a_zivot_rastavi_vv.jpeg); */
    filter: white;
    opacity: 0.8;
}

/* Single Book Styles */

.col{padding: 20px;}

.colpic{
    margin: auto;
    text-align: center;
}

.bookimg{
    margin: auto;
    text-align: center;
    /* width: 50%; */
    font-size: 30px;
}


.booktitle{
    font-size: 50px;
    text-align: center;
}

.bookauthor{
    font-size: 30px;
    text-align: center;
}

.opis{
    padding-top: 20px;
}

.bookdesc{
    text-align: center;
    padding: 30px;
    border:0px;
    border-bottom: 2px;
    border-style:solid;
    border-color: black; 
}

.btn{
    font-size: 20px;
    text-decoration: underline;
    margin-top: 20px;
}

